<html>
    <head>
        <style>
            body {
                font-family:Inter, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI';
            }

            #header {
                background-color: #495AF3;
                border-radius: 7px;
                color: aliceblue;
                padding-left: 2%;
                padding-right: 2%;
                width: 400px;
            }

            #correct {
                color: #00D455;
            }

            #incorrect {
                color: #F90000;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>Test results</title>
</head>
<body>
    <div id="content" name="content">
        <div id="header">
            <h2>{{test_name}}</h2>
            <p>You have managed to achieve a score of <b>{{final_score}}%</b>.</p>
            <p>Correct questions: <b id="correct">{{correct_answers}}</b>.</p>
            <p>Incorrect questions: <b id="incorrect">{{incorrect_answers}}</b>.</p>
            <p>&copy; iLearn</p>
        </div>
    </div>
</body>
</html>
